
<section class='featured_routes_wrapper'>
  <h2 class='text-center'>ITINERARI IN EVIDENZA</h2>
  <div class='featured_routes'>
    <%= render partial: "featured_routes/route", collection: @content.featured_routes, as: :route  %>
  </div>
</section>