// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main: #43AFEE;
$background-light: #949396;
$background-normal: linear-gradient(90deg, rgba(68,79,137,1) 0%, rgba(0,66,117,0.95) 50%, rgba(45,52,92,.9) 100%);;
$color-hover: linear-gradient(0deg, rgba(250,193,50,1) 0%, rgba(255,246,227,1) 100%);;
$success: #84A07C;
$warning: #F6AE2D;
$danger: #F26419;
$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;
