<%= form_with url: root_path, class: 'input-group' do |form| %>
  <%= form.text_field :email, class:"form-control" %>
  <div class='input-group-append'>
    <%= form.submit class:"btn btn-sm btn--stripe" %>
  </div>
<% end %>
