/* Main navbar */
$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;

.navbar-wagon {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: $background-normal;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    z-index: 10;
  }
  
  /* Logo */
  .navbar-wagon-brand img {
    height: 50px;
  }
  
  /* User Avatar */
  .navbar-wagon .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  /* Right section */
  .navbar-wagon-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Basic navbar item */
  .navbar-wagon-item {
    cursor: pointer;
    padding: 0 20px;
  }
  
  /* Dropdown menu */
  .navbar-wagon-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
  }
  .navbar-wagon-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  .navbar-wagon-dropdown-menu li > a:hover {
    background: transparent !important;
    color: black !important;
  }
  .navbar-wagon-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
  .breadcrumb-item {
    + .breadcrumb-item {
      &::before {
        content: '';
        display: block;
      }
    }
  }
  .breadcrumb {    
    background-color: white;
    border-radius: 0px;
    li{
      float:left;
      a{
        color:#FFF;
        display:block;
        background: $blue;
        text-decoration: none;
        position:relative;
        height: 40px;
        line-height:40px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
      }
      &:nth-child(even){
        a{
          background-color: $blue-darken;
          
          &:before{
            border-color:$blue-darken;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:$blue-darken;
          }
        }
      }
      &:first-child{
        a{
          padding-left:15px;
          @include border-radius(4px 0 0 4px);
          &:before{
            border:none;
           }
        }
      }
      &:last-child{
        a{
          padding-right:15px;
          @include border-radius(0 4px 4px 0);
          &:after{
            border:none;
           }
        }
      }
      
      a{   
        &:before,
        &:after{
          content: "";
          position:absolute;
          top: 0;
          border:0 solid $blue;
          border-width:20px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-20px;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
          border-left-color:$blue;
        }
        &:hover{
          background-color: $green;
          
          &:before{
            border-color:$green;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:$green;
          }
        }
        &:active{
          background-color: $green-darken;
          
          &:before{
            border-color:$green-darken;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:$green-darken;
          }
        }
      }
    }
  }