
<section class='favourite_routes'>
  <h2 class='text-center ptb-3'>ITINERARI FAVORITI</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col"><i class="fas fa-map-marker-alt"></i></th>
        <th class='distance-route-home'scope="col"><i class="fas fa-route"></i></th>
        <th scope="col"><i class="fas fa-shoe-prints"></i></i></th>
        <th class='difficulty-route-home' scope="col"><i class="fas fa-chart-area"></i></th>
        <th scope="col"><i class="fas fa-user"></i></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "favourite_routes/row", collection: @content.featured_routes, as: :route %>
    </tbody>
  </table>
</section>
