.county-card {
  min-width: 600px;
  opacity: 0.9;
  min-height: 175px;
  border-radius: 4px;
  background: $background-normal;
  &:hover{
    h2{ 
      color: rgb(240,240,240); 
      text-shadow: 0 1px 1px rgba(20,20,20,0.8);}
  }
}
.county-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
.county-list {

}

.county-route-item {
  &:hover{
    opacity: 1;  
    p{ 
      color: rgb(240,240,240);
      text-shadow: 0 1px 1px rgba(20,20,20,0.8);}
  }
}