<div class="footer">
  <%= link_to root_path do  %>
    <%= image_tag 'logo/logo.png', size: '40x40', alt: 'A tutta pista' %>
  <% end %>
  <div class="footer-copyright">
  <p class='m-0'>A Tutta Pista</p>
  </div>
</div>
