.banner{
  width: auto;
  min-height: calc(100vh - 70px);
  padding: 50px;
	background-size: cover;
	background-image: url('https://res.cloudinary.com/lrnzgll/image/upload/c_scale,q_auto:eco,w_1920/v1574071286/background-3.jpg');
	background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-form-container{
  position: relative;
  width: 650px;
  height: 70px;
  margin: 0 auto;
}

.banner-input {
  position: absolute;
  left: 0;
  font-size: 26px;
  width: 600px;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #2c2c2b;
  border: 2px solid #666;
  padding: 0 0 2px 15px;
  height: 70px;
  background-color: #fff;
  text-transform: uppercase;
}

.banner-submit {
  position: absolute;
  right: 0;
  width: 165px;
  border-radius: 0 11px 11px 0;
  outline: none;
  font-size: 27px;
  padding: 0 20px 2px 20px;
  height: 70px;
  font-weight: bold;
}

.banner-title{
	color: white;
}

@media (max-width: 1500px) {
	.banner{ height: 300px; }
}