<div class='search-page'>
  <%= render(SearchComponent.new) %>
  <div class='search-routes-container text-white bdrs-5''>
    <h1 class='ta-c'>ITINERARI</h1>
    <hr>
      <div class='ta-c m-3'>
        <%= cl_image_tag("route-cartoon.png", width: 200, crop: "scale", class:'search-routes-img') %>
          <%= @content.routes.each do |route| %>
            here
            <%= render(CardComponent, type: route) %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
