<div class='ta-c'>
  <h2>PROPRI PERCORSI</h2> 
</div>
<hr>
<div class='ta-c'>
  <p class='fz-xxxl'><%= @content.routes_count %></p> 
</div>
<span class='ta-nd pr-2 text-white b-1 r-1 pos-a'>
  <%= link_to 'Percorsi >>', root_path%>
</span>
