<div class='region-show'>
  <% if @content.favourite_routes.any? %>
    <%= render partial: "favourite_routes_of_region"%>
  <% end %>
  <div class='county-cards'>
    <%= render partial: "counties", collection: @content.counties, as: :county %>
  </div>
</div>
