.selected_regions {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.selected_regions_wrapper{
  background-color: rgba(67, 175, 238, 0.1);
  padding: 20px;
}
